@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tailwind CSS light theme variables */
:root {
	--background: #fff;
	--foreground: #1e293b;
}

body {
	background-color: var(--background);
	color: var(--foreground);
}